
<% if params[:q] == '1' %>
	<br><br>
	<div class="col-xs-10 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-4 col-md-offset-4 col-lg-offset-4" style="text-align: center; color: white;">Please confirm your email address before logging in.</div><br>
	<div class="clearfix"></div>
<% end %>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-3" style="position: relative; transform: translateY(-40%); top: 30%">
	<div class="formStyle">   
		<script>
document.getElementsByTagName("body")[0].style.backgroundColor = "#16A085";
		</script>
		<center><%= image_tag( "Icons/pennvolvementlogo.png", :alt => "rss feed", :class => "logoLogin speedyAnimation", :animation => "bounceIn",)%></center>
		<br>
		<% if flash[:error] %>
			<div id="error_explanantion">
				<div class="alert alert-danger">
					<p> <%= flash[:error] %> </p>
				</div> 
			</div>
		<% end %>
		<%= form_tag('/login') do %>
			<center>
				<br>  
				<div>
					<%= text_field_tag :username, nil, placeholder: 'Username' %>
				</div>
				<br>
				<div> 
					<%= password_field_tag :password, nil, placeholder: 'Password' %>
				</div>
				<br>

				<div>
					<%= submit_tag "Log in" %>
				</div>
				<br>
			</center>
		<% end %>
	</div>
</div>
