<div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3" id="backd">
<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h2>
      </div>
      <ul>
          <% @user.errors.full_messages.each do |message| %>
              <li class="white"><span class="white"><%= message %></span></li>
          <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-6">
    <% prev = false %>
    <% if params['user'] %>
      <% prev = true %>
    <%end %>
    <h3> User Information </h3>
    <div class="field">
        <%= f.label :firstname %> <br>
        <% if prev %>
          <%= f.text_field :firstname, :value => params['user']['firstname'], :placeholder => 'First name' %>
        <% else %>
          <%= f.text_field :firstname, :value => params[:fn], :placeholder => "First name" %>
        <% end %>
    </div>
    <div class="field">
        <%= f.label :lastname %> <br>
        <% if prev %>
          <%= f.text_field :lastname, :value => params['user']['lastname'], :placeholder => 'Last name' %>
        <% else %>
          <%= f.text_field :lastname, :value => params[:ln], :placeholder => "Last name" %>
        <% end %>
    </div>
    <div class="field">
        <%= f.label :username %> <br>
        <% if prev %>
          <%= f.text_field :username, :value => params['user']['username'], :placeholder => 'Username' %>
        <% else %>
          <%= f.text_field :username, :value => params[:user], :placeholder => "Username" %>
        <% end %>
    </div>
    <div class = "field">
        <%= f.label :email %> <br>
        <% if prev %>
          <%= f.text_field :email, :value => params['user']['email'], :placeholder => 'Email' %>
        <% else %>
         <%= f.email_field :email, :placeholder => "Email" %>
        <% end %>
    </div>
    <div class="field">
        <%= f.label :password %> <br>
        <%= f.password_field :password, :value => params[:pass], :placeholder => "Password" %>
    </div>
    <div class="field">
        <%= f.label :password_confirmation %> <br>
        <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
    </div>
</div>

<div class="col-md-6 col-sm-6 col-lg-6">
    <h3>Organization Information</h3>
    <div class="field">
        <%= f.label :org_name %> <br>
        <% if prev %>
          <%= f.text_field :org_name, :value => params['user']['org_name'], :placeholder => 'Organization Name' %>
        <% else %>
          <%= f.text_field :org_name, :placeholder => "Organization Name" %>
        <% end %>
    </div>
    <div class="field">
        <%= f.label :org_url %> <br>
        <% if prev %>
          <%= f.text_field :org_url, :value => params['user']['org_url'], :placeholder => 'Organization URL' %>
        <% else %>
          <%= f.text_field :org_url, :placeholder => "Organization URL" %>
        <% end %>
    </div>
    <div class="field">
        <%= f.label :org_address %> <br>
        <% if prev %>
          <%= f.text_field :org_address, :value => params['user']['org_address'], :placeholder => 'Organization Address' %>
        <% else %>
          <%= f.text_field :org_address, :placeholder => "Organization Address" %>
        <% end %>
    </div>
    <div class="field">
        <%= f.label :city %> <br>
        <% if prev %>
          <%= f.text_field :city, :value => params['user']['city'], :placeholder => 'City' %>
        <% else %>
          <%= f.text_field :city, :placeholder => "City" %>
        <% end %>
    </div>
    <div class="field">
        <%= f.label :state %> <br>
        <% if prev %>
          <%= f.text_field :state, :value => params['user']['state'], :placeholder => 'State' %>
        <% else %>
          <%= f.text_field :state, :placeholder => "State" %>
        <% end %>
    </div>
    <div class="field">
        <%= f.label :zipcode %> <br>
        <% if prev %>
          <%= f.text_field :zipcode, :value => params['user']['zipcode'], :placeholder => 'Zipcode' %>
        <% else %>
          <%= f.text_field :zipcode, :placeholder => "Zipcode" %>
        <% end %>
    </div>
</div>
<div class="actions col-md-6 col-md-offset-6">
    <%= f.submit 'Create Account!', :id => "newSubmit"%>
</div>
<% end %>
</div>
