<p id="notice"><%= notice %></p>
<% if logged_in? %>
  <h1> Welcome,  <%= current_user.org_name %>.  </h1>
  Username: <%= current_user.username %> <br>
  Email: <a href='<%= current_user.email %>'> <%= current_user.email %> </a> <br>
   Website: <a href='<%=current_user.org_url%>'> <%= current_user.org_url %> </a> <br>
   Phone: <%= current_user.org_phone %> <br>
   Address: <%= current_user.org_address %> <br>
   <%= current_user.city %> <%= current_user.state %> <%= current_user.zipcode %> 

   <h1> My Events </h1>
   <% current_user.events.each do |event| %>
     <ul>
       <li>
          Title: <%= link_to event.title, event %> <br> 
          Date: <%= event.date %> <br>
          Time: <%= event.time %> <br>
          At: <%= event.location %> <br>
          Description: <%= event.description %> <br>
          Deadline: <%= event.deadline %> <br>
          Website: <a href='http://<%= event.url %>'> <%= event.url %> </a>
       </li>
     </ul>
   <% end %>

<% else %>
  <h1> Please log in! </h1>
<% end %>
