<div>
  <div id="leftPanel" class="parent-bottom">
    <div class="center"><h1 id="panelText">Be a friend. Lend a hand.</h1></div>
      <div class="center child-bottom child-bottom-center"><%= image_tag('Icons/hands.png', :style => "padding-top: 76px; width: 20vw; height: auto")%></div>
    </div>
    <div id="rightPanel" class="parent-bottom" >
      <div class="center" id="rightPanelForm">
        <% if not logged_in? %>
            <center><p id="signUpText">Sign up to post your opportunities today.</p></center>
            <br>
            <center>
                <%= form_tag("/signup", method: "post") do %>
                    <%= text_field_tag(:first_name, nil, placeholder: "First name") %>
                <br>
                <%= text_field_tag(:last_name, nil, placeholder: "Last name") %>
                <br>
                <%= text_field_tag(:user, nil, placeholder: "Username/Email") %>
                <br>
                <%= password_field_tag(:pass, nil, placeholder: "Password") %>
                <br>
                <div id="signUpButtonGroup">
                    <%= submit_tag("Sign up!", :style => "text-align: center") %>
                </div>
                <a id="loginButton" href="/login">Already registered? Log in</a>
              </div>
            </center>
    <% end %>
    <% else %>
            <div class="contact_form">
            <center><h1 id="socialText">Want to tell the world?</h1></center>
            <center>
                <br>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                  <a id="fbBtnLink" href="http://www.facebook.com/sharer.php?u=http://www.pennvolvement.com" target="_blank">
                    <div class="socialBtn">
                        <center><i class="fa fa-facebook-official"></i></center>
                    </div>
                  </a>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <div class="socialBtn">
                        <center><a id="twtrBtnLink" href="https://twitter.com/home?status=Check%20out%20www.pennvolvement.com%20and%20make%20a%20difference%20in%20Philly!" target="_blank">
                                <i class="fa fa-twitter"></i></a>
                        </center>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <div class="socialBtn">
                        <center><a id="gPlusBtnLink" href="https://plus.google.com/share?url=http://www.pennvolvement.com" target="_blank">
                                <i class="fa fa-google-plus"></i></a>
                        </center>
                    </div>
                </div>
            </div>
        </center>
    <% end %>
    </div>
</div>
<div id="categories">
    <div class="container">
        <span id="categoryText"><h3>If you're just looking, start your search here...</h3></span>
        <div id="categoryBtns">
            <div class="textCenter col-sm-2 col-md-2 col-lg-2 col-xs-2 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"><a href="/search?query=community"><%= image_tag('Icons/community.png', :alt => "rss feed", :class => "icons")%></a><br><center>Community</center></div>
            <div class="textCenter col-sm-2 col-md-2 col-lg-2 col-xs-2" ><a href="/search?query=hunger"><%= image_tag('Icons/hunger.png', :alt => "rss feed", :class => "icons")%></a><br><center>Hunger</center></div>
            <div class="textCenter col-xs-2 col-sm-2 col-lg-2 col-md-2"><a href="/search?query=women"><%= image_tag('Icons/women.png', :alt => "rss feed", :class => "icons")%></a><br><center>Women</center></div>
            <div class="textCenter col-md-2 col-xs-2 col-sm-2 col-lg-2"><a href="/search?query=animal"><%= image_tag('Icons/animal.png', :alt => "rss feed", :class => "icons")%></a><br><center>Animals</center></div>
            <div class="textCenter col-sm-2 col-xs-2 col-lg-2 col-md-2"><a href="/search?query=education"><%= image_tag('Icons/education.png', :alt => "rss feed", :class => "icons")%></a><br><center>Education</center></div>
        </div>
    </div>
</div>
