<% @events.each do |event| %>
    <div class="bigCard">
        <div class="bigCardTitle col-xs-7 col-sm-9 col-md-9 col-lg-9"><%= link_to event.title, event %> with <strong><span class="orgName"><%= event.user.org_name %></span></strong> </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
            <span class="tinyText"> SIGN UP BY: </span>
            <div class="deadlineBox">
                <%= event.deadline %>
            </div>
        </div>
        <div class="bigCardText col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <%= event.description[0..150] %><br>
        </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <%= image_tag( "Icons/calendar.png", :alt => "rss feed", :class => "calendar speedyAnimation", :animation => "bounceIn",)%>
        <span class="calNum"><%= event.date[8..9] %></span>
        <span class="calMonth"><%= to_month(event.date[5..6])[0..2] %></span>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <span><%= image_tag( "Icons/locationicon.png", :alt => "rss feed", :class => "speedyAnimation locationPin", :animation => "bounceIn",)%></span>
    <%= event.location%>
    </div>
    <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 rightAlign">
        <% get_pictures(((event.cause_type.select {|k, v| v.match("1")}).keys)[0..2]).each do |p| %>
            <%= image_tag( "Icons/" + p, :alt => "rss feed", :class => "tinyIcons speedyAnimation", :animation => "bounceIn", :title => get_cause_from_pic(p)) %>
        <% end %>
    </div>
</div>
    <br>
<% end %>
