<% event = @event%>
<div class="mainCard col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <div class="bigCardTitle">
            <strong><%= link_to event.title, event %></strong> with <strong><span class="orgName"><%= event.user.org_name %></span></strong> </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <br>
            <%= event.description%>
            <br><br>
            <strong><a href="<%= event.url %>">Get More Information Here</a></strong><br>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="row">
            <span class="tinyText"> SIGN UP BY: </span>
            <div class="deadlineBox">
                <% if event.deadline != "" && event.deadline %>
		  <%= event.deadline %>
		<% else %>
		  <%= "Ongoing" %>
		<% end %>
            </div>
        </div>
        <div class="row smallRow">
            <br>
            <span class="orgName"><strong>Causes: </strong></span><br>
            <%= get_pictures(((event.cause_type.select {|k, v| v.match("1")}).keys)[0..10]).each do |p| %>
                <%= image_tag( "Icons/" + p, :alt => "rss feed", :class => "tinyIconsTwo speedyAnimation", :animation => "bounceIn") %>
            <% if (p).eql?(get_pictures(((event.cause_type.select {|k, v| v.match("1")}).keys)[0..10]).last) then break end %>
            <% end %>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="smallRow col-sm-4 col-md-4 col-lg-4">
        <%= image_tag( "Icons/calendar.png", :alt => "rss feed", :class => "calendar speedyAnimation", :animation => "bounceIn",)%>
	<span class="calNum">
		<% if event.date != "" %>
			<%= event.date[8..9] %>
		<% else %>
			---
		<% end %>
	</span>
	<span class="calMonth">
		<% if event.date != "" %>
			<%= to_month(event.date[5..6])[0..2] %>
		<% else %>
			Cal
		<% end %>
	</span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span><%= image_tag( "Icons/locationicon.png", :alt => "rss feed", :class => "speedyAnimation locationPin", :animation => "bounceIn",)%></span>
        <%= event.location%>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span class="phoneIcon"><i class="fa fa-phone-square"></i></span>
        </div>
         <div class="orgText col-xs-6 col-sm-6 col-md-6 col-lg-6">
             Org.  Email:  <br> <%= event.user.email %><br>
        </div>
    </div>

</div>
