<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>
<% if @events.empty? %>
    No events! 
<% end %> 

<% @events.each do |event| %>
  <ul>
    <li> 
      Title: <%= link_to event.title, event %> <br> 
      Date: <%= event.date %> <br>
      Time: <%= event.time %> <br>
      At: <%= event.location %> <br>
      Description: <%= event.description %> <br>
      Deadline: <%= event.deadline %> <br>
      Website: <a href='http://<%= event.url %>'> <%= event.url %> </a>
    </li>
  </ul>
<% end %>

