<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<% @events.each do |event| %>
  <ul>
    <li> 
      Title: <%= link_to event.title, event %> <br> 
      Date: <%= event.date %> <br>
      Time: <%= event.time %> <br>
      At: <%= event.location %> <br>
      Description: <%= event.description %> <br>
      Deadline: <%= event.deadline %> <br>
      Website: <a href='http://<%= event.url %>'> <%= event.url %> </a>
    </li>
  </ul>
<% end %>
<h2> Have an event in mind? Create a post for it! </h2>
<%= link_to 'New Event', new_event_path %>
