<nav class="navbar navbar-default" style="background: #FFF; margin-bottom: 0px; height: 60px;">
    <div style="" class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding-top: 19px;" href="/"><%= image_tag("Icons/pennvolvementlogo.png", :alt => "Pennvolvement Logo", :class => "navIcon")%></a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <% if logged_in? and current_user.id == session[:user_id]%>
                    <li><a href="/events">OPPORTUNITIES</a></li>
                <li><a href="/events/new">CREATE A POST</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><%= link_to 'MY PROFILE', current_user %></li>
                <li><%= link_to 'LOG OUT', '/logout', method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <% else %>
                    <% if logged_in? %>
                    <li><%= link_to 'MY PROFILE', current_user %></li>
                <li><%= link_to 'LOG OUT', '/logout', method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <% else %>
                    <li><a href="/events">OPPORTUNITIES</a></li>
                <li><a href="/faq">FAQ</a></li>
                <% end %>
                <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form style="padding-top: 9px;" class="form-inline" id="tfnewsearch" action="/search" method="get">
                  <div class="form-group">
                  <div class="input-group">
                    <input type="text" name="query" id="tftextinput" size="21" maxlength="120">
                    <!-- <div class="input-group-addon"> -->
                      <!-- <button type="submit" ></button> -->
                      <span class="input-group-btn">
                        <button type="submit" id="search-btn" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </span>
                    <!-- </div> -->
                    </div>
                  </div>
                  <a href="http://pennlabs.org" target="_blank"><%= image_tag("labsLogo.jpg", :alt => "Penn Labs Logo", :style => "height: 40px; width: auto;")%></a>
                </form>
            </ul>
        </div>
    </div>
</nav>
