<!DOCTYPE html>
<html>
<head>
  <title>Pennvolvement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= favicon_link_tag 'Icons/favicon.ico' %>
  </head>
<body id="body">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


    <%= render 'layouts/nav' %>
    <%= yield %>
<div class="clearfix"></div>
<footer style="position: absolute; bottom: 0vh; right: 0vh;">
	<%= image_tag("labs.png", :alt => "labs" , :style => "width: 100px; height: auto; padding: 10px;") %>
	<%= image_tag("ua.png", :alt => "ua" , :style => "width: 100px; height: auto; padding: 10px;") %>
</footer>
</body>
</html>
